.service-section h3{
    font-family: 'Roboto Serif', serif;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    flex-wrap: wrap;
}
.service-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-service{
    border: rgb(190, 190, 190) solid 1px;
    text-align: center;
    width: 15%;
    margin: 2%;
}
.edificio-service{
    margin-top: 8px;
    color: #FF820D ;
}
.card-service h4{
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0%;
}
.card-service h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0%;
}
.card-service p{
    font-family: 'Raleway', sans-serif;    font-weight: 500;
    color: #FF820D;
    margin-top: 0%;
}
@media only screen and (max-width: 600px) {
    .service-section h3{
        font-size: 28px;
        margin: 4%;
    }
    .card-service{
        width: 50%;
        margin: 1%;
    }
    .card-service h4{
        font-size: 16px;
    }
    .card-service h6{
        font-size: 12px;
    }
    .card-service p{
        font-size: 12px;
    }
}