/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    /* ===== Colors ===== */
    --body-color: #7fc6fd;
    --sidebar-color: #FFF;
    --primary-color: #1a86f9;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}



::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: wrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
.text{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0%;
}

.card-room{
    padding: 0%;
    margin: 0%;
}






















.container-cards {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }
  
  .card__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card__item {
    display: flex;
    flex-direction: column;
    width: 318px;
    height: 314px;
    border-radius: 8px;
    border: 2px solid #2f8afa;  
    background-color: #fff;
    margin: 0 1px 2px;
    overflow: hidden;
    transition: all 0.12s;
  }
  
  .card__item-img {
    max-width: 318px;
    width: 100%;
    height: 178px;
    overflow: hidden;
    flex: 1 1 auto;
  }
  
  .card__item-img img {
    width: 318px;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
  
  .card__item-title {
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #6e90b9;
    border-top: 1px solid #d4e7ff;
    padding: 15px 16px 10px;
    transition: all 0.12s;
  }
  
  .card__item-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 12px 10px 16px;
  }
  
  .card__item-views {
    display: flex;
    align-items: center;
    opacity: 0.5;
  }
  
  .views-count {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    color: #2f8afa;
  }
  
  .card__item-views svg {
    height: 10px;
    width: auto;
    fill: #2f8afa;
    margin-right: 7px;
  }
  
  .card__item-btn {
    min-height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #2f8afa;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: lowercase;
    color: #fff;
    padding: 10px 16px;
    cursor: pointer;
    outline: none;
    transition: all 0.12s;
  }
  
  .card__item:focus,
  .card__item:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0, 42%);
  }
  
  .card__item:active {
    transform: translate(0, 0);
    box-shadow: 0;
  }
  
  .card__item:focus .card__item-title,
  .card__item:hover .card__item-title {
    color: #2f8afa;
  } 
  
  .card__item-btn:focus,
  .card__item-btn:hover {
    color: #2f8afa;
    background-color: #fff;
  }
  .card{
      margin: 1%;
  }